
body{
    margin:0 0;
    padding: 0 0;
    background-image: url(png/pexels-ella-olsson-572949-1640773.jpg);
    background-size:120%;
    position: fixed;
}

@media (orientation:portrait) {body{
    margin:0 0;
    padding: 0 0;
    background-image: url(png/vertical.jpg);
    background-size:120%;
    position: fixed;
}}

header {

    background-color: #333;
    text-align: center;
    height: 20px;
    width: 100vw;
    padding: 18px 1px;
    display:flex;
    justify-content: space-between;
    font-size: 130%;
    opacity:0.8;
    position: relative;

}


.left, .right, #meanuHeader {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
}

.left li, .right li, #menuHeader{
    margin: 0 10px;
}

.right a {
    margin-left: 20px;
}

.menubar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 90%
}

.options-container {
    opacity: 85%;
    /*backdrop-filter: blur(10px);*/
    background-color: aliceblue;
    width: 100px;
    height: 100vh;
    margin-top: 0px;
    padding: 20px;
    position:fixed;
}

.options-container{
    color: #333;
    font-size: 100%;
    font-weight: bold;
    margin-top: 0%;
    text-align: center;
}

.options-container p {
    font-weight:bolder;
    font-size:large;
}



.options-container button {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    /*font-weight: bold;*/
    background-color: #333;
    color:aliceblue;
    opacity: 0.9;
    border: none;
    padding: 15px 20px;
    margin: 10px 0px;
    width: 100%;
    cursor: pointer;
    border-radius: 40px;
    display: block; /*display verticle*/
    transition: background-color 0.3s;
}

.options-container button:hover{
    background-color: black;
}


